.card{
    width: 30rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #00000038;
    cursor: pointer;
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

.card__container{
    display: flex;
    flex-direction: column;
}

.card__name{
    padding: 0rem 2rem 0rem 2rem;
}

.card__img{
    margin-bottom: 2rem;
}

.card__img-c{
    width: 100%;
    height: 20rem;
}

.card__charc-name{
    font-size: 1.8rem;
    font-weight: 600;
}

.card__charc-series{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: .5rem;
}

.card__desc{
    padding: 2rem;
}

.card__desc-text{
    font-size: 1.5rem;
}

.card-footer{
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(106, 106, 106);
}

.card-footer-left-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer-left-div > p {
    font-size: 1.2rem;
}

.card-footer-left-div > p:hover{
    transform: scale(1.2);
    transition: .2s ease-in;
}

.card-footer > i {
    font-size: 2rem;
}

.card-footer p{
    color: #6200ee;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
}

/* .card-footer p:hover{
    background-color: rgb(248, 240, 255);
    border-radius: .5rem;
} */

.card-footer-right-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer-right-div > span {
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
}

.card-footer-right-div > span:hover{
    /* border-radius: 50%;
    background-color: #f2f2f2; */
    transform: scale(1.5);
    transition: .2s ease-in;
}


.card__name-over-img{
    position: absolute;
    color: #ffffff;
    top: 15rem;
}

.title__over-img{
    padding: 0rem 2rem 2rem 2rem;
}

.img__order{
    order: 2;
}

.name__order{
    order: 1;
    padding: 2rem;
}

.desc__order{
    order: 3;
}

.footer_icon_right{
    margin-left: auto;
}

.card__container-horizontal{
    flex-direction: row;
    height: 12rem;
}

.card__desc-none{
    display: none;
}

.cs{
    width: 100%;
    height: 12rem;
}

.card__cs{
    width: 40rem;
}

.name__cs{
    padding: 2rem;
}

.card__img--cs{
    margin-bottom: 0px;
}

.card__footer-cs{
    border: none;
}

.flex__view{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__badge{
    position: absolute;
    background-color: tomato;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    padding: .5rem;
    top: 2rem;
}

.simple__card{
    padding-top: 2rem;
}

.card__dismiss{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 3rem;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__dismiss:hover{
    background-color: var(--dark-secondry-color);
    opacity: .3;
}

.text__overlay{
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .3;
    color: white;
    font-size: 12rem;
}

.text__overlay > p{
    transform: rotateZ(-40deg);
}