<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milkyway</title>
    <link rel="stylesheet" href="css/main.css">
    </link>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet" />
</head>

<body>
    <main class="main__v2">
        <header class="header__nav">
            <div class="header__nav-left">
                <a href="../index.html"><img src="../assets/images/galaxy.png" class="library__logo hide__logo" /></a>
                <a href="../index.html" class="logo__name-link hide__logo-link">
                    <p class="library__logo-name">MILKYWAY UI</p>
                </a>
                <div class="menu" id="menu__icon"><i class='bx bx-menu'></i></div>
            </div>
            <div class="header__nav-right">
                <a href="https://github.com/akash-1318"><i class='bx bxl-github'></i></a>
                <a href="https://www.linkedin.com/in/akash-sharma-0251051a1"><i class='bx bxl-linkedin'></i></a>
                <a href="https://twitter.com/Akasharma18"><i class='bx bxl-twitter'></i></a>
            </div>
        </header>
        <section class="main__section resp__main-section">
            <aside id="sidebar" class="sidebar resp__sidebar">
                <div class="sidebar__header">
                    <p class="sidebar__heading">Components</p>
                    <div id="sidebar__close-btn" class="hide__menu-cross"><i class='bx bx-x'></i></div>
                </div>
                <ul class="sidebar__menu">
                    <li class="sidebar__menu-link"><a href="Avatar.html">
                            <p>Avatar</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="#">
                            <p>Alert</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Badge.html">
                            <p>Badge</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Button.html">
                            <p>Button</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Card.html">
                            <p>Card</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Image.html">
                            <p>Image</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Input.html">
                            <p>Input</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Modal.html">
                            <p>Modal</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Navigation.html">
                            <p>Navigation</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Snackbar.html">
                            <p>Snackbar</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Typography.html">
                            <p>Typography</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Rating.html">
                            <p>Rating</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Grid.html">
                            <p>Grid</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="List.html">
                            <p>List</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="slider.html">
                            <p>Slider</p>
                        </a></li>    
                </ul>
            </aside>
            <div class="main__grid-item">
                <div class="component">
                    <p class="component__heading">Alert</p>
                    <p class="component__text">Provide contextual feedback messages for typical user actions. An alert
                        displays a short, important message in a way
                        that attracts the user's attention without interrupting the user.</p>
                    <p class="component__heading-primary">Simple Alert</p>
                    <p class="component__sub-text">
                        Here are some different types of alert like - <span class="comp__detail-text">primary alert,
                            secondry alert, success alert, danger alert, warning alert, info alert.</span>
                        To use just add a class like for primary alert use class <span
                            class="comp__detail-text">.primary__alert</span> along with <span
                            class="comp__detail-text">.alert</span> .
                    </p>
                    <div class="component__view">
                        <div class="alert primary__alert">
                            <p class="alert___text">This is a simple primary alert</p>
                        </div>
                        <div class="alert secondry__alert">
                            <p class="alert___text">This is a simple secondry alert</p>
                        </div>
                        <div class="alert success__alert">
                            <p class="alert___text">This is a simple success alert</p>
                        </div>
                        <div class="alert danger__alert">
                            <p class="alert___text">This is a simple danger alert</p>
                        </div>
                        <div class="alert warning__alert">
                            <p class="alert___text">This is a simple warning alert</p>
                        </div>
                        <div class="alert info__alert">
                            <p class="alert___text">This is a simple info alert</p>
                        </div>
                    </div>
                    <div class="code__snippet">
                        <iframe src="https://carbon.now.sh/embed/pkhymMQY3KUY2LB715dt"
                            style="width: 791px; height: 510px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                    <p class="component__heading-primary">Alert with icons</p>
                    <p class="component__sub-text">
                        Alerts with icons can also be used here are some examples - <span
                            class="comp__detail-text">success alert, danger alert, warning alert, info alert.</span>
                        To use just add a class like for primary alert use class <span
                            class="comp__detail-text">.success__alert</span> along with <span
                            class="comp__detail-text">.alert</span> and to add icon we are passing icon as chil element.
                    </p>
                    <div class="component__view">
                        <div class="alert success__alert">
                            <p class="alert___text"> <span class="alert__icon"><i class='bx bx-check-circle'></i></span>
                                This is a simple success alert--check it out</p>
                        </div>
                        <div class="alert danger__alert">
                            <p class="alert___text"> <span class="alert__icon"><i class='bx bxs-skull'></i></span> This
                                is a simple danger alert--check it out</p>
                        </div>
                        <div class="alert warning__alert">
                            <p class="alert___text"> <span class="alert__icon"><i class='bx bxs-skull'></i></span> This
                                is a simple warning alert--check it out</p>
                        </div>
                        <div class="alert info__alert">
                            <p class="alert___text"> <span class="alert__icon"><i class='bx bx-info-circle'></i></span>
                                This is a simple info alert--check it out</p>
                        </div>
                    </div>
                    <div class="code__snippet">
                        <iframe src="https://carbon.now.sh/embed/HZDhYgzR3PZjAAa7JrYj"
                            style="width: 1280px; height: 546px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                    <p class="component__heading-primary">Alert with links and cross button</p>
                    <p class="component__sub-text">
                        Alerts with icons can also be used here are some examples - <span
                            class="comp__detail-text">success alert, danger alert, warning alert, info alert.</span>
                        To use just add a class like for primary alert use class <span
                            class="comp__detail-text">.success__alert</span> along with <span
                            class="comp__detail-text">.alert</span> and to add icon we are passing icon as chil element.
                    </p>
                    <div class="component__view">
                        <div class="alert success__alert">
                            <p class="alert___text"> This is a simple link alert -- <a href="#"
                                    class="alert__link">check it out</a> <span class="cross__icon"><i
                                        class='bx bx-x'></i></span></p>
                        </div>
                        <div class="alert danger__alert">
                            <p class="alert___text"> This is a simple danger alert<span class="cross__icon"><i
                                        class='bx bx-x'></i></span> </p>
                        </div>
                    </div>
                    <div class="code__snippet">
                        <iframe src="https://carbon.now.sh/embed/jMr2pSP1M2tBypOrDvlA"
                            style="width: 1024px; height: 330px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../functionality/responsive.js"></script>
</body>

</html>