<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milkyway</title>
    <link rel="stylesheet" href="css/main.css"></link>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main__v2">
        <header class="header__nav">
            <div class="header__nav-left">
                <img src="../assets/images/galaxy.png" class="library__logo"/>
                <p class="library__logo-name">MILKYWAY UI</p>
            </div>
            <div class="header__nav-right">
                <i class='bx bxl-github'></i>
                <i class='bx bxl-linkedin'></i>
                <i class='bx bxl-twitter'></i>
            </div>
        </header>
        <section class="main__section">
            <aside class="sidebar">
                <p class="sidebar__heading">Components</p>
                <ul class="sidebar__menu">
                    <li class="sidebar__menu-link"><a href="Avatar.html"><p>Avatar</p></a></li>
                    <li class="sidebar__menu-link"><a href="Alert.html"><p>Alert</p></a></li>
                    <li class="sidebar__menu-link"><a href="Badge.html"><p>Badge</p></a></li>
                    <li class="sidebar__menu-link"><a href="Button.html"><p>Button</p></a></li>
                    <li class="sidebar__menu-link"><a href="#"><p>Card</p></a></li>
                    <li class="sidebar__menu-link"><a href="Image.html"><p>Image</p></a></li>
                    <li class="sidebar__menu-link"><a href="Input.html"><p>Input</p></a></li>
                </ul>
            </aside>
            <div class="main__grid-item">
                <div class="component">
                    <p class="component__heading">Cards</p>
                    <p class="component__text">Cards are built with as little markup and styles as 
                        possible, but still manage to deliver a ton of control and customization.</p>
                    <p class="component__heading-primary">Vertical Cards with Badge</p>
                    <p class="component__sub-text">
                        These are Vertical cards design with <span class="comp__detail-text">image, 
                        text, title and card shadow</span>. To use the Card Component, put 
                        card-image, card-title and card-text, inside a div with class card and for the second
                        card to make the name over image add class <span class="comp__detail-text">.card__name-over-img</span> 
                        along with <span class="comp__detail-text">.card__name</span> class and also 
                        add <span class="comp__detail-text">.title__over-img</span> class along with <span class="comp__detail-text">.card__desc</span> class.
                    </p> 
                    <div class="component__view flex__view">
                        <div class="card">
                            <div class="card__container">
                                <div class="card__img">
                                    <img src="/assets/images/mini.jpg" alt="card-img" class="card__img-c"/>
                                </div>
                                <div class="card__badge">
                                    Latest
                                </div>
                                <div class="card__name">
                                    <p class="card__charc-name">Minion the Wolverine</p>
                                    <p class="card__charc-series">I am dangerous</p>
                                </div>
                                <div class="card__desc">
                                    <p class="card__desc-text">
                                        Minions are fictional yellow creatures that appear in 
                                        Illumination's Despicable Me franchise.
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-left-div">
                                <p>READ</p>
                                <p>BOOKMARK</p>
                                </div>
                                <div class="card-footer-right-div">
                                <span><i class='bx bx-heart'></i></span> 
                                <span><i class='bx bx-share-alt'></i></span> 
                                <span><i class='bx bx-dots-vertical-rounded'></i></span> 
                                </div>
                            </footer>
                        </div>

                        <div class="card">
                            <div class="card__container">
                                <div class="card__img">
                                    <img src="/assets/images/mini.jpg" alt="card-img" class="card__img-c"/>
                                </div>
                                <div class="card__badge">
                                    Latest
                                </div>
                                <div class="card__name card__name-over-img">
                                    <p class="card__charc-name">Minion the Wolverine</p>
                                    <p class="card__charc-series">I am dangerous</p>
                                </div>
                                <div class="card__desc title__over-img">
                                    <p class="card__desc-text">
                                        Minions are fictional yellow creatures that appear in 
                                        Illumination's Despicable Me franchise.
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-left-div">
                                <p>READ</p>
                                <p>BOOKMARK</p>
                                </div>
                                <div class="card-footer-right-div">
                                <span><i class='bx bx-heart'></i></span> 
                                <span><i class='bx bx-share-alt'></i></span> 
                                <span><i class='bx bx-dots-vertical-rounded'></i></span> 
                                </div>
                            </footer>
                        </div>
                    </div> 
                    <div class="code__snippet">
                        <iframe
                        src="https://carbon.now.sh/embed/xiZGIfECKaumC6IqpozC"
                        style="width: 808px; height: 834px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                    <p class="component__heading-primary">horizontal Card with Badge</p>
                    <p class="component__sub-text">
                        Here is the design for <span class="comp__detail-text">horizontal card</span> 
                        you just have to add <span class="comp__detail-text">.card__cs</span> along with <span class="comp__detail-text">.card</span> class
                        and <span class="comp__detail-text">.card__container-horizontal</span> class along with <span class="comp__detail-text">.card__container</span> 
                        class and have to remove <span class="comp__detail-text">.card__desc</span> div.
                    </p> 
                    <div class="component__view flex__view">
                        <div class="card card__cs">
                            <div class="card__container card__container-horizontal">
                                <div class="card__img card__img--cs">
                                    <img src="/assets/images/mini.jpg" alt="card-img" class="card__img-c cs"/>
                                </div>
                                <div class="card__name name__cs">
                                    <p class="card__charc-name">Minion the Wolverine</p>
                                    <p class="card__charc-series">I am dangerous</p>
                                </div>
                                <div class="card__desc card__desc-none">
                                    <p class="card__desc-text">
                                        ta Minions nama ito, wigjag, cylindrical creatures, yob kaylay da sif do lo.
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-left-div">
                                <p>READ</p>
                                <p>BOOKMARK</p>
                                </div>
                                <div class="card-footer-right-div">
                                <span><i class='bx bx-heart'></i></span> 
                                <span><i class='bx bx-share-alt'></i></span> 
                                <span><i class='bx bx-dots-vertical-rounded'></i></span> 
                                </div>
                            </footer>
                        </div>
                    </div>      
                    </div> 
                    <div class="code__snippet">
                        <iframe
                        src="https://carbon.now.sh/embed/Wlsp3GUcrk1FnPE37thr"
                        style="width: 824px; height: 888px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                    
                    <p class="component__heading-primary">Simple Cards</p>
                    <p class="component__sub-text">
                        Here are the examples of simple card , Simple Card is the one that contains a 
                        title, a descriptive text. To use the Card Component, card-title, and 
                        card-text inside a div with class card. 
                    </p> 
                    <div class="component__view flex__view">
                        <div class="card">
                            <div class="card__container">
                                <div class="card__name simple__card">
                                    <p class="card__charc-name">Minion the Wolverine</p>
                                    <p class="card__charc-series">I am dangerous</p>
                                </div>
                                <div class="card__desc">
                                    <p class="card__desc-text">
                                        Minions are fictional yellow creatures that appear in 
                                        Illumination's Despicable Me franchise.
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-left-div">
                                <p>READ</p>
                                <p>BOOKMARK</p>
                                </div>
                                <div class="card-footer-right-div">
                                <span><i class='bx bx-heart'></i></span> 
                                <span><i class='bx bx-share-alt'></i></span> 
                                <span><i class='bx bx-dots-vertical-rounded'></i></span> 
                                </div>
                            </footer>
                        </div>

                        <div class="card">
                            <div class="card__container">
                                <div class="card__name simple__card">
                                    <p class="card__charc-name">Minion the Wolverine</p>
                                    <p class="card__charc-series">I am dangerous</p>
                                </div>
                                <div class="card__desc">
                                    <p class="card__desc-text">
                                        Minions are fictional yellow creatures that appear in 
                                        Illumination's Despicable Me franchise.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="code__snippet">
                        <iframe
                        src="https://carbon.now.sh/embed/V6OVFNfBKiKMl1kMgapT"
                        style="width: 791px; height: 762px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                    <div class="code__snippet">
                        <iframe
                        src="https://carbon.now.sh/embed/q9yK4T3Z6ZSoxU6meKiW"
                        style="width: 791px; height: 456px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>


                    <p class="component__heading-primary">Cards with text Overlay and Dismiss</p>
                    <p class="component__sub-text">
                        Here is the example of overlay and dismiss. For overlay you just need to 
                        add a div with class <span class="comp__detail-text">.text__overlay</span> that has text Sold init.
                    </p> 
                    <div class="component__view flex__view">
                        <div class="card">
                                <div class="card__container">
                                    <div class="card__img">
                                        <img src="/assets/images/mini.jpg" alt="card-img" class="card__img-c"/>
                                    </div>
                                    <div class="card__badge">
                                        Latest
                                    </div>
                                    <div class="card__name">
                                        <p class="card__charc-name">Minion the Wolverine</p>
                                        <p class="card__charc-series">I am dangerous</p>
                                    </div>
                                    <div class="card__desc">
                                        <p class="card__desc-text">
                                            Minions are fictional yellow creatures that appear in 
                                            Illumination's Despicable Me franchise.
                                        </p>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <div class="card-footer-left-div">
                                    <p>READ</p>
                                    <p>BOOKMARK</p>
                                    </div>
                                    <div class="card-footer-right-div">
                                    <span><i class='bx bx-heart'></i></span> 
                                    <span><i class='bx bx-share-alt'></i></span> 
                                    <span><i class='bx bx-dots-vertical-rounded'></i></span> 
                                    </div>
                                </footer>
                            <div class="text__overlay">
                                <p>Sold</p>
                            </div>       
                        </div>

                        <div class="card">
                            <div class="card__container">
                                <div class="card__img">
                                    <img src="/assets/images/mini.jpg" alt="card-img" class="card__img-c"/>
                                </div>
                                <div class="card__dismiss">
                                    <i class='bx bx-x'></i>
                                </div>
                                <div class="card__name card__name-over-img">
                                    <p class="card__charc-name">Minion the Wolverine</p>
                                    <p class="card__charc-series">I am dangerous</p>
                                </div>
                                <div class="card__desc title__over-img">
                                    <p class="card__desc-text">
                                        Minions are fictional yellow creatures that appear in 
                                        Illumination's Despicable Me franchise.
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-left-div">
                                <p>READ</p>
                                <p>BOOKMARK</p>
                                </div>
                                <div class="card-footer-right-div">
                                <span><i class='bx bx-heart'></i></span> 
                                <span><i class='bx bx-share-alt'></i></span> 
                                <span><i class='bx bx-dots-vertical-rounded'></i></span> 
                                </div>
                            </footer>
                        </div>
                    </div> 
                    <div class="code__snippet">
                        <iframe
                        src="https://carbon.now.sh/embed/"
                        style="width: 808px; height: 888px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                    <div class="code__snippet">
                        <iframe
                        src="https://carbon.now.sh/embed/"
                        style="width: 808px; height: 870px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>