<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milkyway</title>
    <link rel="stylesheet" href="css/main.css">
    </link>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <main class="main__v2">
        <header class="header__nav">
            <div class="header__nav-left">
                <a href="../index.html"><img src="../assets/images/galaxy.png" class="library__logo"/></a>
                <a href="../index.html" class="logo__name-link"><p class="library__logo-name">MILKYWAY UI</p></a>
            </div>
            <div class="header__nav-right">
                <a href="https://github.com/akash-1318"><i class='bx bxl-github'></i></a>
                <a href="https://www.linkedin.com/in/akash-sharma-0251051a1"><i class='bx bxl-linkedin'></i></a>
                <a href="https://twitter.com/Akasharma18"><i class='bx bxl-twitter'></i></a>
            </div>
        </header>
        <section class="main__section">
            <aside class="sidebar">
                <p class="sidebar__heading">Components</p>
                <ul class="sidebar__menu">
                    <li class="sidebar__menu-link"><a href="Avatar.html">
                            <p>Avatar</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Alert.html">
                            <p>Alert</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Badge.html">
                            <p>Badge</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Button.html">
                            <p>Button</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Card.html">
                            <p>Card</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="#">
                            <p>Image</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Input.html">
                            <p>Input</p>
                        </a></li>
                </ul>
            </aside>
            <div class="main__grid-item">
                <div class="component">
                    <p class="component__heading">Responsive Images</p>
                    <p class="component__text">Responsive Image Components are used to display Images
                        on websites, which are screen responsive. They expand upto the width of the
                        container they are in.</p>
                    <p class="component__heading-primary">Round Images</p>
                    <p class="component__sub-text">

                    </p>
                    <div class="component__view avatar__comp">
                        <div class="round__image-div">
                            <img src="/assets/images/Pika.jpeg" alt="img" class="img__round" />
                        </div>
                        <div class="round__image-div">
                            <img src="/assets/images/spiderman.jpg" alt="img" class="img__round" />
                        </div>
                    </div>
                    <div class="code__snippet">
                        <iframe src="https://carbon.now.sh/embed/3cvvSiCBwO4m9mcG082p"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>

                    <p class="component__heading-primary">Full width Image</p>
                    <p class="component__sub-text">
                        Full Width Image is the one that expands to cover the container it is present
                        in.
                    </p>
                    <div class="component__view avatar__comp">
                        <div class="full__width-img">
                            <img src="/assets/images/minions.jpg" class="img__style" />
                        </div>
                    </div>
                    <div class="code__snippet">
                        <iframe src="https://carbon.now.sh/embed/6lVrx3YqoDGUDgDBvrlA"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>