<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milkyway</title>
    <link rel="stylesheet" href="css/main.css">
    </link>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet" />
</head>

<body>
    <main class="main__v2">
        <header class="header__nav">
            <div class="header__nav-left">
                <a href="../index.html"><img src="../assets/images/galaxy.png" class="library__logo hide__logo" /></a>
                <a href="../index.html" class="logo__name-link hide__logo-link">
                    <p class="library__logo-name">MILKYWAY UI</p>
                </a>
                <div class="menu" id="menu__icon"><i class='bx bx-menu'></i></div>
            </div>
            <div class="header__nav-right">
                <a href="https://github.com/akash-1318"><i class='bx bxl-github'></i></a>
                <a href="https://www.linkedin.com/in/akash-sharma-0251051a1"><i class='bx bxl-linkedin'></i></a>
                <a href="https://twitter.com/Akasharma18"><i class='bx bxl-twitter'></i></a>
            </div>
        </header>
        <section class="main__section resp__main-section">
            <aside id="sidebar" class="sidebar resp__sidebar">
                <div class="sidebar__header">
                    <p class="sidebar__heading">Components</p>
                    <div id="sidebar__close-btn" class="hide__menu-cross"><i class='bx bx-x'></i></div>
                </div>
                <ul class="sidebar__menu">
                    <li class="sidebar__menu-link"><a href="Avatar.html">
                            <p>Avatar</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Alert.html">
                            <p>Alert</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Badge.html">
                            <p>Badge</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Button.html">
                            <p>Button</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Card.html">
                            <p>Card</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="#">
                            <p>Image</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Input.html">
                            <p>Input</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Modal.html">
                            <p>Modal</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="#">
                            <p>Navigation</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Snackbar.html">
                            <p>Snackbar</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Typography.html">
                            <p>Typography</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Rating.html">
                            <p>Rating</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="Grid.html">
                            <p>Grid</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="List.html">
                            <p>List</p>
                        </a></li>
                    <li class="sidebar__menu-link"><a href="slider.html">
                            <p>Slider</p>
                        </a></li>     
                </ul>
            </aside>
            <div class="main__grid-item">
                <div class="component">
                    <p class="component__heading">Navigation</p>
                    <p class="component__text">The navigation bar is one of the first things users
                        see on a website this is why the Good UI of navigation bar is really
                        important it is used to Navigate through the web apps.</p>
                    <p class="component__heading-primary">Types of Navigation Bars</p>
                    <p class="component__sub-text">
                        Here are two different types of navigation bar you can use in your project.
                        Navigation bar is one of the most important feature of any website these navigation
                        bar are responsive for both mobile and desktop with hamburger menu icon. 
                    </p>
                    <div class="component__view">
                        <header class="header__nav header__nav-space">
                            <div class="header__nav-left">
                                <a href="#"><img src="../assets/images/galaxy.png" class="library__logo hide__logo" /></a>
                                <a href="#" class="logo__name-link hide__logo-link">
                                    <p class="library__logo-name">Milkyway</p>
                                </a>
                                <div class="menu" id="menu__icon"><i class='bx bx-menu'></i></div>
                            </div>
                            <div class="header__nav-right">
                                <a href="#"><i class='bx bxl-github'></i></a>
                                <a href="#"><i class='bx bxl-linkedin'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                            </div>
                        </header>

                        <header class="header">
                            <div class="header__nav-left">
                                <a href="#"><img src="../assets/images/galaxy.png" class="library__logo hide__logo" /></a>
                                <a href="#" class="logo__name-link hide__logo-link">
                                    <p class="library__logo-name">Milkyway</p>
                                </a>
                                <div class="menu" id="menu__icon"><i class='bx bx-menu'></i></div>
                            </div>

                            <div class="header__nav-right">
                                <div class="header__nav-middle resp__nav-middle">
                                    <div class="search__icon"><i class='bx bx-search-alt-2'></i></div>
                                    <input placeholder="search" class="header__search" />
                                </div>

                                <div class="header__icons">
                                    <a href="pages/wishlist.html">
                                        <div class="icon__badge">
                                            <i class='bx bx-heart'></i>
                                            <span class="badge__content">5</span>
                                        </div>
                                    </a>
                                    <a href="pages/mycart.html">
                                        <div class="icon__badge">
                                            <i class='bx bxs-cart-alt'></i>
                                            <span class="badge__content">2</span>
                                        </div>
                                    </a>
                                    <p class="cart__text">Cart</p>
                                </div>
                            </div>
                        </header>
                    </div>
                    <div class="code__snippet">
                        <iframe
                        src="https://carbon.now.sh/embed/0tnutalRrf2JSC3PGKZC"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                    <div class="code__snippet">
                        <iframe
                        src="https://carbon.now.sh/embed/jtwW4byF5j04SY0ReFu7"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../functionality/responsive.js"></script>
</body>

</html>