.footer{
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(147, 147, 147);
    width: 100%;
}

.footer__text{
    font-weight: 600;
}