.sidebar{
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    grid-area: sidebar;
    height: 100vh;
    position: sticky;
    top: 0px;
}

.sidebar__heading{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
}

.main__grid-item{
    grid-area: main;
    padding: 3rem 5rem;
}

.main__section{
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-areas: 
    'sidebar main'
    'sidebar main'
    'sidebar main';
}

.sidebar__menu{
    list-style: none;
    font-size: 2rem;
}

.sidebar__menu-link{
    font-size: 2rem;
    padding: 1rem 0rem;
    padding-left: 5rem;
}

.sidebar__menu-link > a{
    text-decoration: none;
    color: var(--font-color);
}
